body{
    background-image: url('dark_wood.png');
}

p{
    font-weight: bold;
    color: white;
    font-family: Arial;
    text-align: center;
}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}

a{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#Header{
    width: 500px;
    background-image: linear-gradient(purple,gold);
}

#Header h1{
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold;
    text-shadow: 15px 15px purple;
}

#LeftNav{
    width: 400px;
    margin-bottom: 10px;
    border:solid 8px black;
    float: left;
    text-align: center;
    list-style-type: none;
    padding-bottom: 8px;
    background-color: #8E41D5;
}

#LeftNav img{
    opacity: 0.25;
}

#LeftNav ul{
    list-style-type: none;
    padding-left: 0px;
    display: block;
}

#LeftNav h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

#Content{
    width: 700px;
    padding: 15px;
    background-color: #8E41D5;
    border-radius: 50px;
}

#Content img{
    opacity: 0.5;
}

#Footer{
    border:solid 8px black;
    text-align: center;
    list-style-type: none;
    background-color: #8E41D5;
}

#Footer p{
    writing-mode: vertical-rl;
    float: left;
}

.margin{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
}